
// Base Colors:

$neutral-0: #000000;
$neutral-1: #999898;
$neutral-2: #E2E9F2;
$neutral-3: #F4F6F9;
$neutral-4: #FFFFFF;
$neutral-5: #101010;
$neutral-6: #BBBBBB;
$neutral-7: #464545;


$blue-1: #0D325F;
$blue-2: #61748F;
$blue-3: #68BEE2;
$blue-4: #3498db 

