
// spacing constants
$space-1: 1px;
$space-2: 2px;
$space-3: 3px;
$space-4: 4px;
$space-5: 8px;
$space-6: 12px;
$space-7: 16px;
$space-8: 20px;
$space-9: 24px;
$space-10: 28px;
$space-11: 32px;
$space-12: 36px;
$space-13: 40px;
