@use "./styles/styles" as *;

.store-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-top: $space-13;

  h1 { 
    margin-right: 100px;
  }
}